/* Inserta tu CSS aqui */
.box-grande{
	width: 400px;
	height: 400px;
	position: static;
	padding: 80px;
	background-color: #ED462F;
}
.box-mediano{
	background-color: #752E80;
	width: 100%;
	height: 100%;
	position: relative;
}
.box-hijo{
	background-color: #FFF835;
	width: 100px;
	height: 100px;
	position: absolute;
}